#ScatterChartContainer{
  position: relative;
  width: 100%;
}

#ScatterChartContainer svg {
  width: 100%;
  height: auto;
}

.axisLable {
  color:rgb(2, 44, 80);
  font-size: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}